{% extends 'web/layout.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
  <main class="container">
    {% if message %}<h1 class="has-text-centered title red">{{ message }}</h1>{% endif %}
    <div class="column is-half is-offset-one-quarter">
      {% comment %}For lesson in user.lessons{% endcomment %}
      <nav class="level">
        <div class="level-item has-text-centered">
          <a href="{% url 'lesson' 1 %}">
            <div class="lesson-card {% if 1 in lessons %}completed{% endif %}">
              <p class="heading">Lesson 1</p>
              <figure class="image is64x64">
                <span class="icon is-large"><i class="fas fa-question fa-2x"></i></span>
              </figure>
            </div>
          </a>
        </div>
      </nav>
      <nav class="level {% if 1 not in lessons %}locked{% endif %}">
        <div class="level-item has-text-centered">
          <a {% if 1 in lessons %}href="{% url 'lesson' 2 %}"{% endif %}>
            <div class="lesson-card {% if 2 in lessons %}completed{% endif %}">
              <p class="heading">Lesson 2</p>
              <figure class="image is64x64">
                <span class="icon is-large"><i class="fas fa-syringe fa-2x"></i></span>
              </figure>
            </div>
          </a>
        </div>
        <div class="level-item has-text-centered">
          <a {% if 1 in lessons %}href="{% url 'lesson' 3 %}"{% endif %}>
            <div class="lesson-card {% if 3 in lessons %}completed{% endif %}">
              <p class="heading">Lesson 3</p>
              <figure class="image is64x64">
                <span class="icon is-large"><i class="fas fa-user-tag fa-2x"></i></span>
              </figure>
            </div>
          </a>
        </div>
      </nav>
      <nav class="level {% if 2 not in lessons or 3 not in lessons %}locked{% endif %}">
        <div class="level-item has-text-centered">
          <a {% if 2 in lessons and 3 in lessons %}href="{% url 'test' 1 %}"{% endif %}>
            <div class="lesson-card level-up test">
              <p class="heading">Test</p>
              <figure class="image is64x64">
                {% comment %}if user.lessons.part_1.locked{% endcomment %}
                <span class="icon is-large"><i class="fas fa-lock{% if 4 in lessons %}-open{% endif %} fa-2x"></i></span>
              </figure>
            </div>
          </a>
        </div>
      </nav>
    </div>
    <hr class="dashed">
    <div class="column is-half is-offset-one-quarter {% if 4 not in lessons %}locked{% endif %}">
      {% comment %} if user.lessons.#.locked -> gray out{% endcomment %}
      <nav class="level">
        <div class="level-item has-text-centered">
          <div class="lesson-card {% if 5 in lessons %}completed{% endif %}">
            <p class="heading">Lesson 5</p>
            <figure class="image is64x64">
              <span class="icon is-large"><i class="fas fa-medkit fa-2x"></i></span>
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="lesson-card {% if 6 in lessons %}completed{% endif %}">
            <p class="heading">Lesson 6</p>
            <figure class="image is64x64">
              <span class="icon is-large"><i class="fas fa-universal-access fa-2x"></i></span>
            </figure>
          </div>
        </div>
      </nav>
      <nav class="level {% if 5 not in lessons and 6 not in lessons %}locked{% endif %}">
        <div class="level-item has-text-centered">
          <div class="lesson-card {% if 7 in lessons %}completed{% endif %}">
            <p class="heading">Lesson 7</p>
            <figure class="image is64x64">
              <span class="icon is-large"><i class="fas fa-users fa-2x"></i></span>
            </figure>
          </div>
        </div>
      </nav>
      <nav class="level {% if 7 not in lessons %}locked{% endif %}">
        <div class="level-item has-text-centered">
          <div class="lesson-card test">
            <p class="heading">Test</p>
            <figure class="image is64x64">
              {% comment %}if user.lessons.part_1.locked{% endcomment %}
              <span class="icon is-large"><i class="fas fa-lock{% if 8 in lessons %}-open{% endif %} fa-2x"></i></span>
            </figure>
          </div>
        </div>
      </nav>
    </div>
  </main>
{% endblock body %}