{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="{% static 'web/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'web/favicon.ico' %}"/>
    <script src="{% static 'web/nav.js' %}"></script>
</head>
<body {% block body_classes %}class="bg-white"{% endblock body_classes %}>
    <nav class="navbar bg-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'index' %}">
            <img src="{% static 'web/logo.svg' %}" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarMain" class="navbar-menu bg-white">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                    <a class="button bg-yellow white" href={% url 'admin:index' %}>
                      <strong>Admin Panel</strong>
                    </a>
                  {% endif %}
                  <a class="button btn bg-beige red" href="{% url 'logout' %}">
                    <strong>Log out</strong>
                  </a>
                {% else %}
                  <a class="button bg-yellow white" href="{% url 'register' %}">
                      <strong>Sign up</strong>
                  </a>
                  <a class="button bg-light-blue dark-blue" href="{% url 'login' %}">
                      <strong>Log in</strong>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% block body %}
      {% endblock body %}
</body>
</html>