{% extends 'web/layout.html' %}
{% load static %}

{% block title %}Lesson{% endblock title %}

{% block body %}
  <main>
    <section class="section">
      <div class="columns">
        <figure class="lesson-banner column">
          {% if lesson.has_video %}
          <iframe class="yt-frame" src="{{ lesson.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
          {% else %}
            <img src="{% static lesson.image %}">
          {% endif %}
        </figure>
        <div class="column">
          <h1 class="hero-title red">{{ lesson.title }}</h1>
          <p class="subtitle"><strong>Lesson {{ lesson.id }}</strong> </p>
          <p class="subtitle lesson-txt">{{ lesson.introduction }}</p>
        </div>
      </div>
    </section>
    {% for x in small_text %}
    <section class="section {% if forloop.counter0|divisibleby:2 %}bg-beige{% endif %}">
      <div class="columns is-centered">
        <div class="column is-8">
          <p class="subtitle lesson-txt">{{ x }}</p>
        </div>
      </div>
    </section>
    {% endfor %}
    {% if lesson.has_video %}
      <section class="section has-text-centered">
        <figure class="lesson-banner column">
            <img src="{% static lesson.image %}">
        </figure>
      </section>
    {% endif %}
    <footer class="section">
      <div class="columns is-centered">
        <div class="column is-4">
          <form method="post" action="{% url 'lesson' lesson.id %}">
            <div class="field">
              {% csrf_token %}
            </div>
            <input type="submit" class="button is-block bg-light-blue completed is-large is-fullwidth" value="Complete Lesson">
          </form>
        </div>
      </div>
    </footer>
  </main>

{% endblock body %}