{% extends 'web/layout.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body_classes %}class="login-body bg-white"{% endblock body_classes %}

{% block body %}
  <section class="section is-medium">
    <div class="columns">
      <div class="column">
        <div class="box has-text-centered">
          <p class="subtitle is-4">Welcome to Artemisia</p>
          {% if message %}
            <h2 class="red">{{ message }}</h2>
          {% endif %}
          <br />
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="field">
              <p class="control has-icons-left">
                <input required class="input is-medium" type="text" name="username" placeholder="Username" />
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
              <input required class="input is-medium" type="password" name="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              </p>
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <input type="submit" value="Log in" class="button is-block bg-light-blue is-large is-fullwidth">
          </form>
          <p>Don't have an account? <a href="{% url 'register' %}" class="underline">Register here.</a></p>
          <p>Forgot password? <a href="{% url 'reset_password' %}" class="underline">Reset password.</a></p>
        </div>
      </div>
      <figure class="login-banner column">
        <img src="{% static 'web/login-banner.svg' %}" alt="A woman accessing a webpage.">
      </figure>
    </div>
  </section>
{% endblock %}