{% extends "web/layout.html" %} 

    <h1>Password Reset</h1>

{% block body %}
    {% if message %}<div>{{ message }}</div>{% endif %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p class="subtitle is-4">Welcome to Artemisia</p>
                        <p class="subtitle is-6">
                            Forgotten your password? <br> 
                            Enter your email address below, and we'll email instructions for setting a new one.
                        </p>
                        {% if message %}
                            <h2 class="has-text-danger">{{ message }}</h2>
                        {% endif %}
                        <br />
                        <form method="post">
                            <div class="field">
                                {% csrf_token %}
                                {{ form }}
                            </div>
                            <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Send Email">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}