{% extends "web/layout.html" %} 

{% block body %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p class="subtitle is-4">Welcome to Artemisia</p>
                        <h3 class="subtitle is-6">Please enter your new password twice so we can verify you typed it in correctly.</h3>
                        {% if validlink %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <p class="has-text-danger">{{ form.new_password1.errors }}</p>
                                    {{ form.new_password1 }} 
                                </div>
                                <div class="field">
                                    <p class="has-text-danger">{{ form.new_password2.errors }}</p>
                                    <p>{{ form.new_password2 }}</p>
                                </div>
                                <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Create New Password">
                            </form>
                        {% else %}
                            <p>Looks like you used an invalid link.</p>
                            <a href="{% url 'index' %}">Return Home</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}