{% extends "web/layout.html" %} 

    <h1>Password Set Form</h1>

{% block body %}
    <h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                {{ form.new_password1.errors }}
                {{ form.new_password1 }} 
            </div>
            <div class="input-group">
                {{ form.new_password2.errors }}
                {{ form.new_password2 }} 
            </div>
            <input type="submit" value="Create New Password">
        </form>
    {% else %}
        <p>Looks like you used an invalid link.</p>
        <a href="{% url 'index' %}">Return Home</a>
    {% endif %}
{% endblock body %}